<!DOCTYPE html>
<html>
  <head>
    <title> 
      Overlay 
    </title>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="./js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta charset="UTF-8">
  </head>
  <body>
      <button class="show-overlay">
        Overlay
      </button>
      <div class="overlay">
        <article>
          <button class="show-overlay">
            Close Me!
          </button>
        </article>
      </div>
  </body>
</html>